.Wrapper {
  height: 650px;
}

form {
  width: 80%;
  margin: auto auto 30px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 5px;
}
@media only screen and (max-width:600px) {
  form {
    width: 100%;
  }
  .Wrapper {
    height: fit-content;
  }
}
fieldset {
  margin-top: 10px;
}
.newsletter {
  margin-top: 10px;
}
.illustration {
  width: 135px;
  display: block;
  margin: 5px auto 20px;
}
.description {
  display: block;
  text-align: justify;
}
