<div class="Wrapper">
  <p class="text-center">Bitte wählen Sie eine der drei Zahlungsmöglichkeiten. Der Betrag wird jährlich abgebucht oder in Rechnung gestellt.</p>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-credit-card fa-2x"></i>
      </ng-template>
      <form class="row g-3">
        <div class="col-md-12">
          <label for="inputName" class="form-label">Name auf der Karte</label>
          <input class="form-control" id="inputName">
        </div>
        <div class="col-md-6">
          <label for="inputNumber" class="form-label">Kreditkartennummer</label>
          <div class="input-group">
            <div class="input-group-text"><i class="fa fa-credit-card"></i></div>
            <input type="text" class="form-control" id="inputNumber">
          </div>
        </div>
        <div class="col-md-3">
          <label for="inputExpiry" class="form-label">Gültigkeit</label>
          <input type="text" class="form-control" id="inputExpiry" placeholder="MM/YY">
        </div>
        <div class="col-md-3">
          <label for="inputCVV" class="form-label">CVV</label>
          <input type="text" class="form-control" id="inputCVV">
        </div>
      </form>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-cc-paypal fa-2x"></i>
      </ng-template>
      Content 2
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-file fa-2x"></i>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
