<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="logo" src="assets/cropped-bachue-logo-klein.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mitgliedschaft/mitgliedschaft">Mitgliedschaft</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projekte
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/project/casa-mantay">Casa Mantay</a></li>
            <li><a class="dropdown-item" href="/project/fundación-sanctuary">Fundación Sanctuary</a></li>
            <li><a class="dropdown-item" href="/project/fundación-casa-viña">Fundación Casa Viña</a></li>
            <li><a class="dropdown-item" href="/project/schweiz">Situation in der Schweiz</a></li>
          </ul>
        <li class="nav-item">
          <a class="nav-link" href="/über-uns">Über Uns</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link btn" id="spenden" href="/unterstützen">UNTERSTÜTZEN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
