.navbar {
  background-color: #2CCB44 !important;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .nav-item:hover {
    background-color: #2CCB44 !important;
  }
  .dropdown-menu {
    background-color: #2CCB44;
  }
  .dropdown-item {
    color: white;
  }
}

.nav-item {
  margin-left: 10px;
  border-radius: 5px;
}

.nav-link {
  color: white !important;
}

.logo {
  width: 50px;
}

.nav-item:hover {
  background-color: forestgreen;
}

#spenden {
  background-color: #FE6A22!important;
}
#spenden:hover {
  background-color: darkorange!important;
}
.dropdown-item {
  font-family: "Segoe UI";
}
