<div class="Wrapper">
    <!-- Mitgliedschafts Optionen -->
  <h1 class="text-center">Unterstützen Sie uns mit einem jährlichen Beitrag!</h1>
  <div class="section-title text-center">
    <p>Sie können uns durch eine der drei Mitgliedschaften mit einem jährlichen Betrag unterstützen und Kinder und Mütter in Schwierigkeiten helfen.</p>
  </div>
  <app-progress-bar></app-progress-bar>
  <router-outlet></router-outlet>
  <a id = "zurück" href="mitgliedschaft/{{backButton}}"class="btn">Zurück</a>
  <a id = "weiter" href="mitgliedschaft/{{nextButton}}"class="btn">Weiter</a>
</div>
