.Wrapper {
  width: 80%;
  margin: 1rem auto;
  padding: 2rem;
  text-align: justify;
  transition: all 0.3s;
}

#zurück {
  margin-left: 100px;
}

#weiter {
  float: right;
  margin-right: 100px;
}


