.Wrapper {
  width: 80%;
  margin: 1rem auto;
  padding: 2rem;
  text-align: justify;
  transition: all 0.3s;
}

#zurück {
  margin-left: 100px;
}

#weiter {
  float: right;
  margin-right: 100px;
}
@media only screen and (max-width: 600px) {
  .Wrapper {
    width: 95%!important;
    padding: 1rem!important;
  }
  #zurück, #weiter {
    margin-right: 0px;
    margin-left: 0px;
  }
}
