<div class="stepper-wrapper">
  <div class="stepper-item {{statusMitgliedschaft}}">
    <div class="step-counter">1</div>
    <div class="step-name">Mitgliedschaft</div>
  </div>
  <div class="stepper-item {{statusAdresse}}">
    <div class="step-counter"><i class="fa fa-map-marker"></i></div>
    <div class="step-name">Adresse</div>
  </div>
  <div class="stepper-item {{statusBezahlung}}">
    <div class="step-counter"><i class="fa fa-shopping-cart"></i></div>
    <div class="step-name">Bezahlung</div>
  </div>
  <div class="stepper-item {{statusBestaetigung}}">
    <div class="step-counter"><i class="fa fa-check-circle"></i></div>
    <div class="step-name">Bestätigung</div>
  </div>
</div>
