<div class="Wrapper">
  <h1 class="text-center">Unsere Vision</h1>
  <p>
    Wir sind zwei Freundinnen, die sich für die Rechte der Frauen und Mädchen in Südamerika und in der Schweiz einsetzen.
    Der Verein «Bachué» wurde am 13.10.2020 gegründet und unterstützt ausgewählte Projekte in Südamerika und Einzelfälle in der Schweiz.
    <br>
    <br>
    Ich (Sonia) bin in Kolumbien aufgewachsen und habe als Mädchen und Frau die südamerikanische Kultur miterlebt.
    Im Februar 2020 war ich Teil des Projektes ‘Casa Mantay’ (Cusco, Peru), welches eines der zwei Projekte ist, die wir unterstützen.
    Durch diese Erfahrung ist mir bewusst geworden, wie wichtig solche Organisationen sind.
    Die Zeit dort hat mir sehr viel gegeben und ich bewundere die Mädchen, die ich dort kennengelernt habe.
    Sie haben mir Kraft und Liebe geschenkt und deshalb möchte ich ihnen etwas zurückgeben.
    <br>
    <br>
    Ich (Susanne) habe durch die langjährige Freundschaft mit Sonia viele Einblicke in die Rolle der Frau in Südamerika erhalten.
    Jedoch ist es für alleinstehende Mütter nicht nur in Südamerika, sondern auch in der Schweiz oftmals schwierig, ihr Leben alleine zu meistern.
    In der Regel sind diese Frauen abhängig vom Sozialamt und erhalten aufgrund mangelnder Hilfe keine Möglichkeit, sich weiterzubilden.
    <br>
    <br>
    Obwohl die kulturellen Unterschiede zwischen der Schweiz und Kolumbien gross sind, gibt es gewisse Parallelen.
    Aus diesem Grund sind wir für jegliche Unterstützung dankbar, welche den Kindern, Mädchen und Frauen ein besseres Leben ermöglicht.
  </p>
  <h1 class="text-center">Unser Team</h1>
  <div class="images text-center">
    <div class="row">
      <div class="col-sm">
        <img src="assets/sonia-profil.jpg">
        <h5>Sonia Stöckli</h5>
        <p>Gründungsmitglied, Präsidentin, Organisation</p>
      </div>
      <div class="col-sm">
        <img src="assets/susanne-profil.jpg">
        <h5>Susanne Niquille</h5>
        <p>Gründungsmitglied, Finanzverwaltung</p>
      </div>
      <div class="col-sm">
        <img src="assets/aline-profil.jpg">
        <h5>Aline Stöckli</h5>
        <p>Vorstandsmitglied, Administration und Organisation</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img src="assets/jolanda-profil.jpg">
        <h5>Jolanda Gerber</h5>
        <p>Marketing, Social Media</p>
      </div>
      <div class="col-sm">
        <img src="assets/meret-profil.jpg">
        <h5>Meret Wälti</h5>
        <p>Editor</p>
      </div>
      <div class="col-sm">
        <img src="assets/helen-profil.jpg">
        <h5>Helen Schönholzer</h5>
        <p>Webseite</p>
      </div>
    </div>
  </div>
</div>
