<div class="Wrapper">
  <h1 class="text-center">Spenden</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="container prices">
          <div class="row">
            <div class="col text-center border-bottom border-end"><h1>10</h1> CHF</div>
            <div class="col text-center border-bottom" id="secondAmount"><h1>50</h1> CHF</div>
          </div>
          <div class="row">
            <div class="col text-center border-end" id="thirdAmount"><h1>100</h1> CHF</div>
            <div class="col text-center" id="forthAmount"><h1>200</h1> CHF</div>
          </div>
          <div class="row">
            <div class="input-group mb-3 text-center">
              <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text" id="basic-addon1">CHF</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        Hallo
      </div>
    </div>
  </div>
</div>
