<div class="Wrapper">
  <section id="pricing" class="pricing-content section-padding">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
          <div class="single-pricing" (click)="chooseMembership('active')" [ngClass]="{'activeMembership': this.membershipService.getMembership() === 'active'}">
            <div class="price-head">
              <h2>Passive Mitgliedschaft</h2>
            </div>
            <img class="membershipPicture" src="assets/members.png">
            <h1 class="price">CHF 30</h1>
            <h5>Jährlich</h5>
            <ul>
              <li>halbjährlicher Newsletter</li>
              <li>kein Stimmrecht</li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="single-pricing" (click)="chooseMembership('passive')" [ngClass]="{'activeMembership': this.membershipService.getMembership() === 'passive'}">
            <div class="price-head">
              <h2>Aktive Mitgliedschaft</h2>
            </div>
            <img class="membershipPicture" src="assets/members.png">
            <h1 class="price">CHF 50</h1>
            <h5>Jährlich</h5>
            <ul>
              <li>halbjährlicher Newsletter</li>
              <li>Stimmrecht</li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
          <div class="single-pricing" (click)="chooseMembership('goenner')" [ngClass]="{'activeMembership': this.membershipService.getMembership() === 'goenner'}">
            <div class="price-head">
              <h2>Gönner*in</h2>
            </div>
            <img class="membershipPicture" src="assets/gönner.png">
            <h1 class="price">CHF 500</h1>
            <h5>Jährlich</h5>
            <ul>
              <li>halbjährlicher Newsletter</li>
              <li>kein Stimmrecht</li>
              <li>Beim Verein unter Gönner*in aufgelistet</li>
            </ul>
          </div>
        </div><!--- END COL -->
      </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
  </section>
</div>
